body {   /* estilizand body */
    background-color: #f8f9fa;
}

.container { /* estilizando conatiner */
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {   
    color: #007bff;
    text-align: center;
}

#results {  
    display: none;
}

.table {  
    margin-top: 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(244, 11, 11, 0.15);
    border-collapse: separate; /* coloca linha dupla na tabela 
    width: 100%;*/
}  


th,td{  /* estilizando cabeçalho e celula*/
    border: 1px solid #333;
    padding: 12px 15px;


}
    border-collapse{
        
    } separate; /* coloca linha dupla na tabela 
    width: 100%;

/* Reset básico */
td {
    margin: 5px 0; /*5 pixels -parte superior e inferior - 0 pixels nas laterais. */
    font-family: sans-serif;
    min-width: 400px;
  }
  
  thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
    th, td {
        padding: 12px 15px;
      }
      
      /* Efeito hover nas linhas */
      tbody tr:hover {
        background-color:#009879;
        cursor: pointer;
      }
      
      /* Estilo dos links dentro da tabela */
      table a {
        color: #009879;
        text-decoration: none;
      }
  
      
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  /* Zebramento das linhas */
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }


  /* Estilo das células */
  th, td {
    padding: 12px 15px;
  }
  


